.name {
    color: #000000;
    text-decoration: 2px underline;
}

.consultant-card .position {
    color: #db0057;
    margin-right: 1rem;
    font-weight: bold;
}

.consultant-card .experience {
    color: black;
    font-weight: normal;
}

.pp {
    width:150px;
    height:150px;
    border-radius: 12px;
    object-fit: cover;

}

.download-CV {
    color: #db0057;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.download-CV img {
    width: 16px;
    height: 16px;
}

.download-CV:hover {
    color: #ffffff;
    background-color: #db0057; 
}

.add-to-team {
    color: #db0057;
    font-weight: bold;
    border: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.add-to-team:hover {
    color: #ffffff;
    background-color: #db0057; 
}

.consultant-card {
    display: flex;
    align-items: center;
    gap: 11rem;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 12px;
  }
  
  .consultant-card:hover {
    background-color: #dadada;
    box-shadow: rgb(31, 30, 30) 10px 10px 10px;
  }

  @media (max-width: 768px) {
    .consultant-card {
      flex-direction: center;
      gap: 1rem;
    }

    .download-CV {
        padding: 0.1rem 0.2rem;
    }

    .add-to-team {
        padding: 0.2rem 1.1rem;
    }
  }