.app {
  display: flex;
  flex-direction: column;
  background-color: #191b1a;
  min-height: 100vh;
}

.login-button{
  background-color: #db0057;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  width: auto;
}

.login-button:hover {
  background-color: #97013d;
}

.button-box {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.content {
  background-color: #373a38;
  padding: 1rem;
  margin: 1rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.content p {
  color: white;
}

.content.blurred {
  filter: blur(5px);
}

.app h1 {
  color: #db0057;
}